In [18]:
import pandas as pd

In [19]:
import pandas as pd
df = pd.read_csv('../data/inputs/raw/insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [20]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

I have extracted a file path and imported the CSV file from the Kaggle Dataset on the table above, I am now proceeding to transform the data but before I did that I needed to understand more clearly on the data I was looking at using the .info and .describe method.

In [21]:
df.head()
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

I also chose this route to help me have a preview of the data whilst confirming it loaded correctly. This also lets me know what values are missing in each column.

In [24]:
df.drop_duplicates(inplace=True)

Dropping any duplicates is a good call as it removes any duplicate rows from the dataset.

In [26]:
df.fillna(df.select_dtypes(include=['number']).mean(), inplace=True)

In [27]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

I replaced the missing data and at first an error was shown as the original code only applied to numeric columns. I then adjusted the code to fit both string and [numbers].

I also wanted to confirm the changes with the df.isnull method and all seems well.

In [30]:
df["smoker_encoded"] = df["smoker"].map({"yes": 1, "no": 0})
df["region_encoded"] = df["region"].astype("category").cat.codes

This transforms the data to make it process numerically to make it easier to manage. This is encoding the categories.

In [31]:
def bmi_category(bmi):
    if bmi < 18.5:
        return "Underweight"
    elif bmi < 24.9:
        return 'Normal'
    elif bmi < 29.9:
        return 'Overweight'
    else:
        return 'Obese'
df['bmi_category'] = df['bmi'].apply(bmi_category)

In [32]:
df.dtypes

age                 int64
sex                object
bmi               float64
children            int64
smoker             object
region             object
charges           float64
smoker_encoded      int64
region_encoded       int8
bmi_category       object
dtype: object

In [ ]:
I used the IF, ELIF, ELSE method to categorise the BMI values into four categories: Underweight, Normal, Overweight, and Obese.

In [35]:
df.to_csv("processed_data.csv", index=False)

This code above has saved my cleaned up data for any future anaylis. I did it this way to avoid changing the file location.

In [37]:
print(df[['sex', 'smoker']].head())


print(df.describe())


assert df.isnull().sum().sum() == 0, "There are still missing values!"

      sex smoker
0  female    yes
1    male     no
2    male     no
3    male     no
4    male     no
               age          bmi     children       charges  smoker_encoded  \
count  1337.000000  1337.000000  1337.000000   1337.000000     1337.000000
mean     39.222139    30.663452     1.095737  13279.121487        0.204936
std      14.044333     6.100468     1.205571  12110.359656        0.403806
min      18.000000    15.960000     0.000000   1121.873900        0.000000
25%      27.000000    26.290000     0.000000   4746.344000        0.000000
50%      39.000000    30.400000     1.000000   9386.161300        0.000000
75%      51.000000    34.700000     2.000000  16657.717450        0.000000
max      64.000000    53.130000     5.000000  63770.428010        1.000000

       region_encoded
count     1337.000000
mean         1.516081
std          1.105208
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          3.000000

This final step validates that there are no missing values in the dataset. If there are, it will raise an assertion error with the message "There are still missing values!".